<div class="col-md-3 mb-2">
    <div class="card">
        <img src="https://via.placeholder.com/300" class="rounded float-start" alt="Album 1">
        <div class="card-body">
            <h5 class="card-title">Album Title Arya</h5>
            <p class="card-text">Artist Name</p>
        </div>
    </div>
</div>